* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
}

#dog-photo {
    min-height: 600px;
    max-height: 600px;
    min-width: 600px;
    max-width: 600px;
    background-color: aquamarine;
    padding: 50px;
    border-radius: 15px;
}

#dog-img {
    min-width: 500px;
    max-width: 500px;
    min-height: 500px;
    max-height: 500px;
}

#dog-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#joke-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    height: 600px;
    width: 600px;
    border: 5px dotted skyblue;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
    padding: 30px;
    font-family: 'Indie Flower','monaco', 'Lucida Console';
    font-size: 30px;
    border-radius: 15px;
}

#dog-photo:hover,
#joke-container:hover {
    cursor: pointer;
}

h3 {
    font-size: 24px;
}

header {
    margin-bottom: 50px;
}

p {
    font-family: 'Indie Flower','monaco', 'Lucida Console';
    font-size: 23px;
}

#click {
    font-size: 10px;
}

#dog-img:hover {
    transform: scale(0.95);
}

#dad-joke:hover {
    color: hotpink;
    text-shadow:0px 0px 30px hotpink;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 450px;
    max-height: 275px;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: skyblue;
    color: black;
    border: 2px solid #000000;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px black;
    z-index: 1000;
}

#modal button {
    justify-content: center;
    margin: 24px 0 0 130px;
    width: 150px;
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
}

#modal button:hover {
    background-color: lightgrey;
}

#modal p {
    margin-bottom: 20px;
}

span {
    display: flex;
    justify-content: end;
    font-size: 30px;
    text-align: right;
    margin-right: 15px;
}

span div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 20px;
    margin: 10px 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

span div:hover {
    cursor: pointer;
}

.modal p {
    text-align: center;
    font-size: 12px;
}

.modal input {
    margin-bottom: 10px;
    width: 65%;
    margin: 0 auto;
    background-color: transparent;
    text-align: center;
    border: none;
    border-bottom: solid 3px rgba(15, 15, 15, 0.1);
    padding: 5px;
    outline: 0 none;
}

.modal input:hover {
    border-color: aquamarine;
}

.modal-content {
    background-color: lightgrey;
    height: 165px;
}

@media screen and (min-width: 768px) and (max-width: 1015px) {
    #greeting {
        font-size: 17px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    #joke-container {
        width: 500px;
        height: 500px;
    }

    #dog-photo {
        min-height: 500px;
        max-height: 500px;
        min-width: 500px;
        max-width: 500px;
        padding: 50px;
    }
    
    #dog-img {
        min-width: 400px;
        max-width: 400px;
        min-height: 400px;
        max-height: 400px;
    }

    header p {
        font-size: 14px;
    }

    h1 {
        font-size: 30px;
    }
}

@media screen and (min-width: 426px) and (max-width: 575px) {
    #joke-container {
        width: 400px;
        height: 400px;
        font-size: 20px;
    }

    #dog-photo {
        min-height: 400px;
        max-height: 400px;
        min-width: 400px;
        max-width: 400px;
        padding: 50px;
    }
    
    #dog-img {
        min-width: 300px;
        max-width: 300px;
        min-height: 300px;
        max-height: 300px;
    }

    header p {
        font-size: 14px;
    }

    h1 {
        font-size: 28px;
    }

    #modal p {
        padding: 0 10px;
        margin-bottom: 0;
    }

    #modal {
        max-width: 375px;
        max-height: 275px;
    }

    #modal button {
        margin-left: 90px;
    }
}

@media screen and (min-width: 400px) and (max-width: 425px) {
    #joke-container {
        width: 375px;
        height: 375px;
    }

    #joke-container {
        font-size: 20px;
    }

    #dog-photo {
        min-height: 375px;
        max-height: 375px;
        min-width: 375px;
        max-width: 375px;
        padding: 50px;
    }
    
    #dog-img {
        min-width: 275px;
        max-width: 275px;
        min-height: 275px;
        max-height: 275px;
    }

    #modal {
        max-width: 300px;
        max-height: 275px;
    }

    #modal p {
        margin: 0 10px;
        font-size: 10px;
    }

    #modal button {
        margin-left: 55px;
    }

    header p {
        font-size: 14px;
    }

    h1 {
        font-size: 26px;
    }

    #username {
        font-size: 14px;
    }
}

@media screen and (max-width: 399px) {
    #joke-container {
        width: 300px;
        height: 300px;
    }

    #joke-container {
        font-size: 16px;
    }

    #dog-photo {
        min-height: 300px;
        max-height: 300px;
        min-width: 300px;
        max-width: 300px;
        padding: 50px;
    }
    
    #dog-img {
        min-width: 200px;
        max-width: 200px;
        min-height: 200px;
        max-height: 200px;
    }

    h3 {
        font-size: 12px;
    }

    #click {
        font-size: 8px;
    }

    header p {
        font-size: 12px;
        line-height: 1.8;
        margin-bottom: 0;
    }

    h1 {
        font-size: 21px;
    }

    #modal {
        max-width: 300px;
        max-height: 275px;
    }

    #modal p {
        font-size: 10px;
        margin-bottom: 5px;
        padding: 0 5px;
    }

    #username {
        font-size: 14px;
    }

    #modal button {
        margin-left: 55px;
    }
}